body {
    margin: 0px;
    padding: 0px;
    background: brown;
}

.game {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    align-items: center;
}

.blocks {
    width: 120px;
    height: 120px;
    background: white;
    float: left;
    margin: 5px;
    font-size: 108px;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}